body{
  font-family: 'Bree Serif', serif;
}
h4{
    font-size: 1rem;
}
#mapid {
    height: 80vh;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}
#regions_div_container{
	height: 80vh;  /* The height is 400 pixels */
    width: 100%;
    float: left;
}
.tab-menu{
    font-size: .9rem;
    padding: 5px 20px;
    border-radius: 20px;
}
#ctdc-dataset-layers-layers p{
    margin-bottom: 0
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 99999
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.bg-color{
  background-color: #52A5A0;
}

.destination-country{
  text-transform: uppercase;
  color: #52A5A0;
  font-size: 20px;
  font-weight: bold;
}
.total-migrants{
  text-transform: uppercase;
  color: #52A5A0;
  font-size: 20px;
  font-weight: bold;
}
.destination-label{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 30px !important;
}
.total-migrants-label{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 30px !important;
}

.origin-label{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.modal-body table{
  margin-bottom: 0 !important;
}

.modal-body table td{
  padding: .25rem !important;
}